/*carousel css*/
.blog-carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the children (like your carousels) horizontally */
  justify-content: center; /* Centers the children vertically if needed */
  width: 100%; /* Takes the full width to center content properly */
  margin: 20px auto; /* Adds vertical margin and auto for horizontal centering */
}

.carousel-sidebar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.carousel-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 920px; /* Adjust width as needed */
  align-items: center;
  
  /*animation: scroll-loop 30s linear infinite;  Adjust timing as needed */
}
/*
  @keyframes scroll-loop {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-50%); 
    }
  }
*/


.carousel-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-article {
  text-align: center;
  margin: 0;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-inline: 0.8em;
  flex: 0 0 300px; 
}

.carousel-article:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.carousel-image {
  border-radius: 8px;
  object-fit: cover;
}

.article-category {
  font-size: 14px;
  color: #555;
}

.article-author {
  font-size: 12px;
  color: #888;
}

.empty {
  background-color: #f0f0f0; /* Light gray background for empty slots */
}

.placeholder {
  background-color: #ccc; /* Slightly darker gray for the image placeholder */
  width: 300px;
  height: 200px;
  border-radius: 8px;
}
  
/* Styles for navigation buttons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

button:first-child {
  left: 10px;
}

button:last-child {
  right: 10px;
}