.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

.san-diego-page {
  background-color: var(--background-color);
  /* width: 100%; Extend to full page width */
  padding: 20px 0; /* Remove left/right padding */
  font-family: 'Georgia', serif;
}

.category-title {
  font-size: 1rem;
  color: var(--background-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

.page-title {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0; /* Remove any default margin */
  padding: 0 20px; /* Optional: Add slight padding to prevent text from touching the edge */
}

.article {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #000000;
  padding-top: 20px;
}

.article-image {
  width: 475px !important; /* Emphasize width for horizontal rectangle */
  height: 260px !important; /* Force the height to 150px */
  border-radius: 5px; /* Rounded corners */
  margin-right: 20px;
  object-fit: cover; /* Ensures the image scales and maintains the correct proportions */
  display: block; /* Ensures it behaves as a block element */
}


.article-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.article-title {
  color: var(--category-title);
  font-size: 1.55rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.article-title:hover {
  text-decoration: underline;
}

.article-author {
  font-size: 0.7rem;
  color: var(--text-color);
  margin: 5px 0;
}

.article-excerpt {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
  .articles {
    padding: 0 10px; /* Adjust for small screens */
  }

  .article {
    flex-direction: column;
  }

  .article-image {
    width: 100%;
    margin: 0 0 15px 0;
  }

  .article-content {
    align-items: flex-start;
  }
}
  