:root {
    --background-color: #ffffff;
    --text-color: #000000;
}
.dark-theme {
    --background-color: #000000;
    --text-color: #ffffff;
}

/* Apply variables */
.body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Added for better UX */
}

#theme-switch svg {
    fill: var(--background-color);
}

#theme-switch svg:last-child {
    display: none;
}

.dark-theme #theme-switch svg:first-child {
    display: none;
}

.dark-theme #theme-switch svg:last-child {
    display: block;
}
