:root {
    --background-color: #ffffff;
    --border-top: 1px solid #ccc;
    --color: #000;
    --icon-hover: #4400ff;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the entire navbar content */
    padding: 15px 20px;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    border-top: var(--border-top);
    border-bottom: var(--border-top);
    position: relative;
    z-index: 1;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-links li a {
    color: black;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.nav-icons {
    display: flex;
    gap: 15px;
    position: absolute; /* Ensure icons are independent of nav-links */
    right: 20px; /* Keep them on the right */
}

.icon-social {
    font-size: 1rem;
    cursor: pointer;
    color: var(--text-color);
}

.icon-social:hover {
    color: var(--icon-hover);
}

/* Hamburger menu button */
.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    margin: 10px auto;
    text-align: center;
    position: absolute;
    left: 20px; /* Place menu button on the left */
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu-button {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: var(--background-color);
        align-items: center;
        padding: 20px 0;
        border-top: var(--border-top);
        z-index: 1;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.visible {
        display: flex;
    }

    .nav-icons {
        display: none;
    }
}
