/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/Styles/Catergory.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/

.body2{
    background-color: var(--background-color);
}
.san-diego-page {
    background-color: var(--background-color);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Georgia', serif;
}

.category-title {
    font-size: 1rem;
    color:var(--background-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

.page-title {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.articles {
    background-color:var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.article {

    display: flex;
    border-top: 1px solid #000000;
    padding-top: 20px;
}

.article-image {

    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.article-content {
    flex: 1 1;
}

.article-title {
    color: var(--catergory-title);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
.article-title:hover{
    text-decoration: underline;
}

.article-author {
    font-size: 0.9rem;
    color: var(--text-color);
    margin: 5px 0;
}

.article-excerpt {
    font-size: 1rem;
    color: #333;
}

