
.header {
    background-color:var(--background-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.header-content {
    display: inline-block; /* Centers the title and date together */
}

.header-title {
    color:var(--text-color);
    font-size: 2.5rem;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

