:root{
    --background-color:#ffffff;
    --border-top: 1px solid #ccc;
    --color: #000; 
    --icon-hover:#4400ff;
}
.darkmode{
    --background-color:#000000;
    --border-top: 1px solid #ccc;
    --color: #ffffff; 
    --icon-hover:#4400ff;
}

.navbar {
    display: flex;
    justify-content: center; /* Center the navbar content */
    align-items: center;
    padding: 15px 20px;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    border-top: var(--border-top);
    border-bottom: var(--border-top);
}

.navbar-content {
    display: flex;
    align-items: center;
    gap: 30px; /* Space between nav-links and nav-icons */
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-links li a {
    color: var(--text-color); /* Black color for text */
    text-decoration: none; /* Remove underline */
}

.nav-links li a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.nav-icons {
    display: flex;
    gap: 15px;
}

.icon-search {
    font-size: 1rem;
    cursor: pointer;
    color: var(--text-color); /* Black color for text */

}

.icon-social {
    font-size: 1rem;
    cursor: pointer;
    color: var(--text-color); /* Black color for text */

}

.icon-social:hover, .icon-search:hover {
    color: var(--icon-hover); /* Slightly change color on hover */
}
