.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.icon-social, .icon-search {
    margin-left: 15px;
    cursor: pointer;
}
